.movie-container a, .series-container a, .book-container a{
    text-decoration: none;
    color: var(--fsb-text-color);
    display: block;
    margin-bottom: 20px;
}

.movie-container, .series-container, .book-container{
    margin-top: 10%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.movies, .series, .books{
    display: flex;
    justify-content: space-between;
}

.collection-container {
    display: flex;
    gap: 20px; /* Space between the items */
}

.collection-item {
    background-color: #fff; /* Background color for the items */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1 1 calc(20% - 20px); /* Adjust the width of the items */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the gap between the contents */
}

.page-content i{
    margin-left: 5px;
}

.collection-item img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    border-radius: 8px; /* Optional: to match the border radius of the container */
}

.page-content a {
    font-size: 1.2rem;
    font-weight: 700;
}

#user-info{
    text-align: center;
    font-size: 1.5rem;
    margin: 5vh 0 0 0;
    color: white;
}